@charset "UTF-8";

/*===== 초기화 =====*/
html, body, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, ul, ol, li, address {
  margin: 0;
  padding: 0;
}
/* 폰트지정 */
body, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-size: 12px;
}
/* 블릿제거 */
ul, ol, li {
  list-style: none;
}
/* 이미지 >> 배치가 부모 기준으로 위 아래 중앙으로 오게 하기 위해서 vertical-align:top or bottom */
img {
  border: 0;
  vertical-align: top;
}
address, em {
  font-style: normal;
}
strong {
  font-weight: normal;
}
/* 수평선 감추기 */
hr {
  display: none;
}
/* 텍스트 감추기 */
.blind {
  /* [방법1] */
  /* display: none; */
  /* [방법2] */
  position: absolute;
  left: 0;
  top: -1000em;
}

/* ==== 바로가기 >> 웹접근성때문에 꼭! =====*/
.skip-nav a {
  position: absolute;
  background-color: #000080;
  color: #eee;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  z-index: 999;

  /* 줄간격:  세로 가운데 정렬*/
  display: block;
  line-height: 2.5em;
  text-align: center;
  left: 0;
  top: -70px;
}
/* tap key 클릭시 보여짐 */
.skip-nav a:focus {
  top: 0;
}

/* header */
#wrap {
  width: 760px;
  /* 웹 브라우저 가운데 위치 */
  margin: 0 auto;
}
#header {
  /* logo position에 부모로 삼으려고 */
  position: relative;
  background: no-repeat 0 100%;

  /* 패딩으로 이미지 영역 확보 */
  padding-bottom: 200px;
  /* background: url(../img/b_about.png) no-repeat 0 100%;  */
}
#index #header {
  background-image: url(../img/b_about.png);
}
#service #header {
  background-image: url(../img/b_services.png);
}
#portfolio #header {
  background-image: url(../img/b_portfolio.png);
}
#contact #header {
  background-image: url(../img/b_contact.png);
}
#header .logo {
  position: absolute;
  top: 0;
  left: 0;
}
#header .lnb_area {
  position: absolute;
  top: 0;
  right: 0;
}
#header .lnb::after {
  content: '';
  display: block;
  clear: left;
}
#header .lnb li {
  float: left;
}
#header .lnb li a {
  background: no-repeat 0 0;
  display: block;
  line-height: 50px;
  text-indent: -999em;
}
#header .lnb li.mm1 a {
  width: 71px;
  /* 이미지 폴더 선택 > ..(상위폴더) */
  background-image: url(../img/m_about.gif);
}
#header .lnb li.mm2 a {
  width: 84px;
  background-image: url(../img/m_services.gif);
}
#header .lnb li.mm3 a {
  width: 95px;
  background-image: url(../img/m_portfolio.gif);
}
#header .lnb li.mm4 a {
  width: 106px;
  background-image: url(../img/m_contact.gif)
}
#header .lnb li a:hover {
  background-position: 0 -50px;
}
#header .lnb li a.on {
  background-position: 0 -100px;
}

/* container */
#container::after {
  content: '';
  display: block;
  clear: both;
}
#container .inner {
  padding: 25px 25px 0;
}
#container #content {
  float: left;
  width: 60%;
}
#container #content h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 10px;
}
#container #aside {
  float: right;
  width: 40%;
}
#container .bottom-space {
  margin-bottom: 15px;
}

/* footer */
#footer { 
  border-top: 1px solid#ccc;
  padding: 25px 25px 35px;
  font-size: .9em;
  color: #646464;
}
#footer a {
  color: #646464;
  text-decoration: none;
}
#footer a:hover {
  color: #00f;
}
#footer::after {
  content: '';
  display: block;
  clear: both;
}
#footer .btm_menu {
  float: right;
}
#footer .btm_menu li {
  display: inline;
}
#footer .copy {
  float: left;
}